
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
}
button{
    margin: 40px auto ;
    display: flex;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-columns: auto auto auto;
}

.box{
    height: 200px;
    width: 200px;
    /* background-color: rgb(219, 172, 172); */
    display: flex;
    border: 5px solid black;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}
.line1{
    display: inline-block;
}
#box1,#box2,#box3{
    border-left: none;
}
#box1,#box4,#box7{
    border-top: none;
}
#box3,#box6,#box9{
    border-bottom: none;
}
#box7,#box8,#box9{
    border-right: none;
}




